[submodule "deliberative_tier/oRatio"]
	path = deliberative_tier/oRatio
	url = https://github.com/pstlab/oRatio
	branch = v3.0
[submodule "deliberative_tier"]
	path = deliberative_tier
	url = https://github.com/pstlab/oRatio
	branch = v3.0
