<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>
    {% include "navbar.html" %}

    <div class="container d-grid gap-2 py-2">
        <button id="listen-button" type="button" class="btn btn-primary btn-lg" data-bs-toggle="button" onclick="listen()">Ascolta</button>
    </div>

    <script>
        document.getElementById("home-nav-item").classList.add("active");
        document.getElementById("timelines-nav-item").classList.remove("active");

        function listen() {
            console.log('listening..');
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>