<div class="tab-content" id="main-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="d-flex justify-content-center">
            <img id="robot_face" src="static/faces/idle.gif" alt="" height="700">
        </div>
    </div>
    <div class="tab-pane fade" id="reasoners" role="tabpanel" aria-labelledby="reasoners-tab">
        <ul class="nav nav-tabs bg-dark" id="reasoners-tabs"></ul>
        <div class="tab-content" id="reasoners-content"></div>
    </div>
</div>

<template id="reasoner-tab-template">
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" aria-selected="true"></button>
    </li>
</template>

<template id="reasoner-content-template">
    <div class="tab-pane fade" role="tabpanel"></div>
</template>