<launch>
    <node name="sequencer_tier" pkg="sequencer_tier" type="sequencer_tier" output="screen">
        <rosparam param="config_goal">goal cnf = new Configure();</rosparam>
    </node>
    <node name="deliberative_tier" pkg="deliberative_tier" type="deliberative_tier" output="screen">
        <rosparam param="domain_files">["domains/ohmni.rddl"]</rosparam>
    </node>
    <node name="speech_to_text" pkg="dialogue" type="stt.py" output="screen" />
    <node name="text_to_speech" pkg="dialogue" type="tts.py" output="screen" />
    <node name="dialogue_manager" pkg="dialogue" type="dialogue.py" output="screen">
        <rosparam param="host">localhost</rosparam>
        <rosparam param="port">5005</rosparam>
    </node>
    <node name="robot_gui" pkg="robot_gui" type="robot_gui.py" output="screen">
        <rosparam param="host">localhost</rosparam>
        <rosparam param="port">8080</rosparam>
    </node>

    <param name="user" type="string" value="42" />
</launch>