<launch>
    <node name="sequencer_tier" pkg="sequencer_tier" type="sequencer_tier" output="screen" />
    <node name="deliberative_tier" pkg="deliberative_tier" type="deliberative_tier" output="screen" />
    <node name="speech_to_text" pkg="dialogue" type="stt.py" output="screen" />
    <node name="text_to_speech" pkg="dialogue" type="tts.py" output="screen" />
    <node name="dialogue_manager" pkg="dialogue" type="dialogue.py" output="screen" />
    <node name="robot_gui" pkg="robot_gui" type="robot_gui.py" output="screen" />
</launch>